.wrapper {
    width: min(100% - 2rem, var(--wrapper-max-width, 100%));
    margin-inline: auto;

    @media (min-width: 768px) {
        --wrapper-max-width: 768px;
    }

    @media (min-width: 1024px) {
        --wrapper-max-width: 1024px;
    }

    @media (min-width: 1280px) {
        --wrapper-max-width: 1280px;
    }

    @media (min-width: 1536px) {
        --wrapper-max-width: 1536px;
    }
}